== Command line parameters ==

This is a list of the command line parameters supported by Competition Doom. 
A number of additional parameters are supported in addition to those
present in Vanilla Doom.

@content

