1 ICON "..\\data\\chocolate-doom.ico"

1 VERSIONINFO
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", ""
   VALUE "FileDescription", ""
   VALUE "InternalName", "Strawberry-Doom"
   VALUE "CompanyName", "Strawberry-Doom"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "Strawberry-Doom"
   VALUE "ProductVersion", ""
  }
 }
}

