1 ICON "../data/doom.ico"

1 VERSIONINFO
PRODUCTVERSION 1,2,1,0
FILEVERSION 1,2,1,0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "1.2.1"
   VALUE "FileDescription", "1.2.1"
   VALUE "InternalName", "Chocolate-Doom"
   VALUE "CompanyName", "Chocolate-Doom"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "Chocolate-Doom"
   VALUE "ProductVersion", "1.2.1"
  }
 }
}

