1 ICON "../data/setup.ico"

1 VERSIONINFO
PRODUCTVERSION 5,0,0,0
FILEVERSION 5,0,0,0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "5.0-beta1"
   VALUE "FileDescription", "Crispy Doom Setup"
   VALUE "InternalName", "crispy-setup"
   VALUE "CompanyName", "Crispy Doom"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "Crispy Doom Setup"
   VALUE "ProductVersion", "5.0-beta1"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

