1 ICON "../data/setup.ico"

1 VERSIONINFO
PRODUCTVERSION 3,0,1,0
FILEVERSION 3,0,1,0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "3.0.1"
   VALUE "FileDescription", "Chocolate Doom Setup"
   VALUE "InternalName", "chocolate-setup"
   VALUE "CompanyName", "Chocolate Doom"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "Chocolate Doom Setup"
   VALUE "ProductVersion", "3.0.1"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

