[Desktop Entry]
Name=Competition Setup
Exec=chocolate-setup
Icon=chocolate-setup
Type=Application
Comment=Setup tool for Competition
Categories=Settings
