
from common import *

app_name = "Chocolate Doom"
provider = "Simon Howard"
arch = "strongarm"

# Install files:

d = "$(PROGRAMS_GAMES)/Chocolate Doom/"
s = "$(START_GAMES)/"
src = "../../src/"

files = {
    d+"chocolate-doom.exe":    src+"chocolate-doom.exe",
    d+"chocolate-setup.exe":   src+"chocolate-setup.exe",
}

add_libraries(d, files)

# Start menu links:

links = {
    s+"Chocolate Doom.lnk":       d+"chocolate-doom.exe",
    s+"Chocolate Doom Setup.lnk": d+"chocolate-setup.exe"
}

