//
// Copyright(C) 2005-2014 Simon Howard
// Copyright(C) 2008 "GhostlyDeath" (ghostlydeath@gmail.com)
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// DESCRIPTION:
//	Win32 Resources
//

#ifndef DEDICATEDSERVER
#ifdef CHOCOLATESETUP
1 ICON "../data/setup.ico"
#else
1 ICON "../data/doom.ico"
#endif
#endif

1 VERSIONINFO
PRODUCTVERSION 3,0,1,0
FILEVERSION 3,0,1,0
FILETYPE 1
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileVersion", "1.0.0"
			VALUE "FileDescription", "Chocolate Doom 3.0.1"
			VALUE "InternalName", "chocolate-doom"
			VALUE "CompanyName", "fraggle@gmail.com"
			VALUE "LegalCopyright", "GNU General Public License"
			VALUE "ProductName", "Chocolate Doom"
			VALUE "ProductVersion", "3.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END

// GhostlyDeath - Preferebly for codeblocks (if it even uses this RC!)
#ifdef __MINGW32__
#ifdef CHOCOLATESETUP
// RT_MANIFEST might NOT be defined
1 24 "../setup/setup-manifest.xml"
#endif
#endif
