Makefile
Makefile.in
.deps
*.rc
chocolate-doom
chocolate-heretic
chocolate-hexen
chocolate-server
chocolate-strife
chocolate-doom-setup
chocolate-heretic-setup
chocolate-hexen-setup
chocolate-strife-setup
chocolate-setup
*.cfg
*.exe
*.desktop
*.txt
*.appdata.xml
tags
TAGS
