Makefile
Makefile.in
.deps
*.rc
crispy-doom
crispy-heretic
crispy-hexen
crispy-server
crispy-strife
crispy-doom-setup
crispy-heretic-setup
crispy-hexen-setup
crispy-strife-setup
crispy-setup
*.cfg
*.exe
*.desktop
*.txt
!CMakeLists.txt
*.metainfo.xml
tags
TAGS
